<%= form_with(scope: :session, url: login_path, local: true) do |form| %>
  <div>
    <%= form.label :email, "Enter your email", class: "h5 form-label" %><br>
    <%= form.text_field :email, class: "form-control", id: "exampleFormControlInput1" %>
  </div>

  <div>
    <%= form.label :password, class: "h5 form-label" %><br>
    <%= form.password_field :password, class: "form-control", id: "exampleFormControlInput1" %>
  </div>

  <div class="mt-4">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <%= form.submit "Log in", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>