<div class="container mt-3">
  <%= form_with model: @article do |form| %>
    <div>
      <%= form.label :title, class: "h5 form-label" %><br>
      <%= form.text_field :title, class: "form-control", id: "exampleFormControlInput1" %>
    </div>
  
    <div>
      <%= form.label :description, class: "h5 form-label" %><br>
      <%= form.text_area :description, class: "form-control mh-100", id: "exampleFormControlTextarea1" %>
    </div>
  
    <div class="mt-3 mb-4">
      <%= form.submit class: "btn btn-primary" %>
      
    </div>
  <% end %>
</div>